poetry.lock
ruwiktionary_htmldump_parser/__pycache__/*
ruwiktionary_words.json
sample_files/
ruwiktionary_words_fixed.json
ruwiktionary_words_500.json
Russian-Russian dictionary.txt
Russian-Russian dict/
ruwiktionary_htmldump_parser/create_ereader_dictionary.py
Russian-Russian-dict/
Russian-Russian-dict.zip
Russian-Russian dictionary.idx
Russian-Russian dictionary.dict.dz
Russian-Russian dictionary.ifo
Russian-Russian dictionary.syn
Russian-Russian dictionary.dict
excerpt-ru-ru.dict.dz
excerpt-ru-ru.idx
excerpt-ru-ru.ifo
excerpt-ru-ru.syn
sd-from-tabfile.txt
stardict-direct.txt
temp.txt
