ruwiktionary_htmldump_parser/__pycache__/*
ruwiktionary_words.json
sample_files/
ruwiktionary_words_fixed.json
ruwiktionary_words_500.json
Russian-Russian dictionary.txt
Russian-Russian dict/
ruwiktionary_htmldump_parser/create_ereader_dictionary.py
Russian-Russian-dict/
Russian-Russian-dict.zip
*.idx
*.dict.dz
*.ifo
*.syn
*.dict
sd-from-tabfile.txt
stardict-direct.txt
temp.txt
tests/__pycache__/
*.dict.dz
tests/find_words_that_have_wrongly_stressed_letters.py
*.tar.gz
*.json
*.ndjson
*.txt
