poetry.lock
ruwiktionary_htmldump_parser/__pycache__/*
ruwiktionary_words.json
sample_files/
ruwiktionary_words_fixed.json
ruwiktionary_words_500.json
Russian-Russian dictionary.txt
Russian-Russian dict/
